<style>
  #flightSearch {
    direction: rtl;
    background-color: rgba(0, 0, 0, 0.75);
  }
</style>
<div class="row">
  <div class="large-8 columns">

    <div class="callout flightSearch">
      <form dir="rtl" action="search-results.html" method="GET">
        <div class="row">
          <div class="large-6 columns">
            <label>יציאה מ:
                   <select name="origen">
                     {{#each dest}}<option value="{{this}}">{{this}}</option>{{/each}}
                  </select>
                </label>
          </div>
          <div class="large-6 columns">
            <label>נחיתה ב:
                   <select name="destination">
                     {{#each dest}}<option value="{{this}}">{{this}}</option>{{/each}}
                  </select>                
                </label>
          </div>
        </div>

        <div class="row">
          <div class="large-6 columns">
            <label>תאריך יציאה:
                  <input type="date" name="etd">
                </label>
          </div>
          <div class="large-6 columns">
            <label>נחיתה ב:
                  <input type="date" name="eta" >
                </label>
          </div>
        </div>
        <div class="row">
          <div class="large-2 columns">
            <label>מבוגר:
                  <input type="number" value="1" name="adults">              
                </label>
          </div>
          <div class="large-2 columns">
            <label>צעיר:
                  <input type="number" value="0" name="young">              
                </label>
          </div>
          <div class="large-2 columns">
            <label>ילד:
                  <input type="number" value="0" name="children">              
                </label>
          </div>
          <div class="large-2 columns">
            <label>תינוקות:
                  <input type="number" value="0" name="infants">              
                </label>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <input type="submit" class="button" value="התחל חיפוש" id="searchButton">
          </div>
        </div>
      </form>
    </div>